.ContactApp{
    width: 100%;
    height: 100vh;
    display: flex;
}

.left-sidebar{
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #F7F7F7;
    padding: 30px;
}

.right-sidebar{
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.projectTitle{
    display: flex;
    flex-direction: column;
}

.plus-sign {
    width: 25px;
    height: 25px;
}

.nav-links{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.contactLink{
    text-decoration: none;
    color: blue;
}


.contactIcon{
    width: 25px;
    height: 25px;
}

.image{
    display: inline!important;
}
.image > img{
    display: inline!important;
}

.createContactBtn{
    border-radius : 10px;
    padding: 7px;
    display: flex;
    justify-content: space-around;
    width: 180px;
    background-color: white;
    box-shadow: 5px 4px 20px lightslategrey;
    border :  none;
}

.iconSpan{
    padding: 5px;
    display: flex;
    justify-content: space-around;
    width: 180px;
    background-color: lightsteelblue;
    color: blue;
}
.span1{
    font-size: 25px;
}

.span2{
    font-size: 45px;
}

.createForm{
    border : 1px solid lightgray;
    width: 70%;
    height: auto;
    margin: 30px auto;
    box-shadow: 10px 10px 50px lightgray;
}

.PersonalDetails{
    width: 100%;
    height: 100%;
    padding: 20px;
}

.photographDetails{
    width: 100%;
    text-align: center;
}

.profilepic{
    width: 100px;
    height: 100px;
    background-color: lightgray;
    border-radius: 50%;
    margin: 10px auto;
}

.next{
    display: flex;
    justify-content: flex-end;
}

.SocialMediaDetails{
    padding: 20px;
}

.EventDetails{
    padding: 20px;
}

.createButton{
    margin: 20px 0px;
    display: flex;
    justify-content: center;
}

.required{
    color: red;
}