.createForm{
    border : 1px solid lightgray;
    width: 70%;
    height: auto;
    margin: 30px auto;
    box-shadow: 10px 10px 50px lightgray;
}

.PersonalDetails{
    width: 100%;
    height: 100%;
    padding: 20px;
}

.photographDetails{
    width: 100%;
    text-align: center;
}

.profilepic{
    width: 100px;
    height: 100px;
    background-color: lightgray;
    border-radius: 50%;
    margin: 10px auto;
}

.next{
    display: flex;
    justify-content: flex-end;
}

.SocialMediaDetails{
    padding: 20px;
}

.EventDetails{
    padding: 20px;
}

.createButton{
    margin: 20px 0px;
    display: flex;
    justify-content: center;
}

.required{
    color: red;
}