@import '../node_modules/bulma/css/bulma.min.css';

.dark{
    width: 100%;
    height: 100vh;
    display: flex;
    background-color: #343a40;
}

.button.is-dark{
    background-color: #343a40;
    border-color: transparent;
    color: #fff;
}

.darkMenu{
    color: white!important;
}

.darkContacts {
    color: white;
}


.ContactApp{
    width: 100%;
    height: 100vh;
    display: flex;
}

.left-sidebar{
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #F7F7F7;
    padding: 30px;
}

.right-sidebar{
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.projectTitle{
    display: flex;
    flex-direction: column;
}

.plus-sign {
    width: 25px;
    height: 25px;
}

.nav-links{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.contactLink{
    text-decoration: none;
    color: blue;
}


.contactIcon{
    width: 25px;
    height: 25px;
}

.image{
    display: inline!important;
}
.image > img{
    display: inline!important;
}

.createContactBtn{
    border-radius : 10px;
    padding: 7px;
    display: flex;
    justify-content: space-around;
    width: 180px;
    background-color: white;
    border :  none;
    margin: 10px 0px;
}

.iconSpan{
    padding: 5px;
    display: flex;
    justify-content: space-around;
    width: 180px;
    background-color: lightsteelblue;
    color: blue;
}
.span1{
    font-size: 25px;
}

.span2{
    font-size: 45px;
}

.createForm{
    border : 1px solid lightgray;
    width: 70%;
    height: auto;
    margin: 0px auto;
    
}

.PersonalDetails{
    width: 100%;
    height: 100%;
    padding: 20px;
}

.photographDetails{
    width: 100%;
    text-align: center;
}

.profilepic{
    width: 100px;
    height: 100px;
    background-color: lightgray;
    border-radius: 50%;
    margin: 10px auto;
}

.next{
    display: flex;
    justify-content: flex-end;
}

.SocialMediaDetails{
    padding: 20px;
}

.EventDetails{
    padding: 20px;
}

.createButton{
    margin: 20px 0px;
    display: flex;
    flex-direction: column;
    
}

.createButton > button {
    width : 200px;
}

.required{
    color: red;
}

.userModalBackground{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
 
}

.deleteModalBackground, .updateModalBackground, .createModalBackground
{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.1);
}

.userModal{
    position: fixed;
    width: 400px;
    height: auto;
    background-color: white;
    box-shadow: -10px 10px 100000px gray;
    color: black;
    top: 100px;
    left: 550px;
    margin : auto;
    padding: 20px;
    border-radius: 10px;
}

.user-section > p{
    margin-bottom: 4px;
}

.close-section{
    display: flex;
    justify-content: flex-end;
}

.userLabels{
    font-size: 15px;
    color: #361684;
}

.userProfilePic{
    width: 120px;
    height: 120px!important;
    border-radius: 50%;
}

.errors{
    color: red;
    font-size: 12px;
    margin-top:2px;
}

.deleteModal{
    position: fixed;
    width: 450px;
    height: auto;
    top: 200px;
    left: 500px;
    margin: auto;
    border: 1px solid gray;
    background-color: white;
    display: flex;
    padding: 20px;
    box-shadow: 10px 10px 100px gray;
}



.deleteImage > img{
    width: 150px;
    height: 150px;
    margin-right: 80px;
}

.message{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.buttons{
    margin-top: 10px;
    display: flex;
    padding: 10px;
    padding: 0;
}

.buttons > button{
    margin-right: 10px;
    width: 70px;
}

.createdModal{
    width: 680px;
    height: auto;
    position: absolute;
    top: 100px;
    left: 210px;
    border: 1px solid gray;
    background-color: white;
    display: flex;
    padding: 20px;
    box-shadow: 10px 10px 100px gray;
}

.updatedodal{
    width: 550px;
    height: auto;
    position: absolute;
    top: 100px;
    left: 280px;
    border: 1px solid gray;
    background-color: white;
    display: flex;
    padding: 20px;
    box-shadow: 10px 10px 100px gray;
}

.updatedodal > .message > .buttons > a > button{
    width: 200px;
}

.buttons > a > button{
    margin-right: 10px;
    width: 180px;
}

.loading {
    background-color: #80808061;
  }

.groupsData{
    padding: 12px!important;
}

.optionsModalBackground{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    z-index:0;
}

.options{
    display: flex;
    background-color: white;
    flex-direction: column;
    width: 200px;
    padding: 10px;
    height: auto;
    position: fixed;
    margin: 100px 0px;
    left: 600px;    
    border : 1px solid gray;
    box-shadow: 10px 10px 100px gray;
    z-index: 0;
}

.ContactsInGroups, .exportModalBackground{
    background-color: white;
    width: 90%;
    height: auto;
    margin: 100px auto;
    z-index: 2;
    top: 0;
    position: absolute;
    box-shadow: 10px 10px 100px #868686;
    padding: 30px;
}

.importModalBackground{
    background-color: white;
    width: 80%;
    height: auto;
    margin: 100px auto;
    z-index: 2;
    top: 0;
    position: absolute;
    left: 100px;
    box-shadow: 10px 10px 100px #868686;
    padding: 30px;
}

.AllImportsBackground{
    background-color: white;
    width: 50%;
    height: auto;
    margin: 100px auto;
    z-index: 2;
    top: 0;
    position: absolute;
    left: 400px;
    box-shadow: 10px 10px 100px #868686;
    padding: 30px;
}

.settingsBackground,.allNotificationsBack{
    background-color: white;
    width: 50%;
    height: auto;
    margin: 100px auto;
    z-index: 2;
    top: 0;
    position: absolute;
    left: 410px;
    box-shadow: 10px 10px 100px #868686;
    padding: 30px;
}

.allImportsTable{
    height: 200px;
    overflow-y : scroll;
}

.contactsInformationTable{
    height: 300px;
    overflow-y: scroll;
}


.CreateGroupDiv{
    width: 60%;
    height: auto;
    margin: 20px auto;
    border: 1px solid lightgray;
    padding: 20px;
}

.contactsInGroups{
    height: 400px;
    overflow-y : scroll;

}

.allContactsTable{
    height: 520px;
    overflow-y : scroll;
    
}

.allGroupsDiv{
    height: auto;
}

::-webkit-scrollbar {
    width: 2px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: white; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #007bff; 
  }

  ::-webkit-scrollbar:horizontal {
    height: 3px;
  }

  .previewTable{
    overflow-x:scroll;
    overflow-y:scroll;
  } 